<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <h3>Name: <%=user.name%></h3>
        <P>Age: <%=user.age%></P>
        <P>City: <%=user.city%></P>
        <p>Password: <%=user.password %></p>
    </div>
</body>
</html>