<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2 id="head">About page</h2>
    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, animi error commodi ex perspiciatis facere sed dolor, quod et consectetur reprehenderit fugiat inventore natus. Cumque dolore, quos pariatur, blanditiis quasi odio mollitia magnam expedita ex atque ducimus sed aut similique molestiae facilis corporis esse saepe dignissimos harum. Facere, deleniti quis!</p>
</body>
</html>