<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>about page</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur dolor similique distinctio sunt minus veritatis ut, sint excepturi dicta enim at autem quaerat quidem numquam incidunt saepe suscipit sapiente nesciunt mollitia! Autem a perspiciatis enim error dolor nam excepturi. Aliquid consequuntur quisquam eveniet saepe temporibus officiis labore architecto! Quidem, cum?</p>
</body>
</html>