<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <style>
        h2{
            color: red;
        }
    </style>
</head>
<body>
    <h2 id="head">Home page</h2>
    <P style="color: blueviolet; border: 2px solid green;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur placeat perferendis, magnam suscipit animi voluptatibus doloribus vero atque nisi commodi!</P>
    <h1>hello ji</h1>

    <script src="js/index.js"></script>
</body>
</html>