<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>List of city</h3>
    
    <%= datas %>

    <% for(let data of datas){ %>
        <li>
            <%= data %>
        </li>
    <% } %>

    <%if(){ %>

   <% }%>
</body>
</html>