<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* .para{
            color: aqua;
        } */
    </style>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h2 style="color: red;">Home page</h2>
    <a href="/about">About</a>
    <a href="/city">City</a>
    <p class="para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos suscipit aliquam delectus recusandae, officia consectetur aut quo molestiae dolor est excepturi, quod eaque? Modi temporibus at recusandae dolorum atque consequuntur magni, praesentium, veniam animi mollitia corrupti expedita, laudantium illo! Repellendus!</p>

    <script src="js/script.js"></script>
</body>
</html>