<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <h3>Name: <%= user.name %></h3>
        <p>Age: <%= user.age %></p>
        <p>City: <%= user.city %></p>
        <P>password: <%= user.password %></P>
    </div>
</body>
</html>