<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 id="head">Home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci illo perspiciatis error autem architecto aut. Voluptas cumque accusamus nisi, magni corporis praesentium dolores officia hic amet vel reiciendis eligendi iure!</p>


    <script src="js/index.js"></script>
</body>
</html>