<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <style>
        .para{
            color: aqua;
            border: 2px solid black;
        }
    </style>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 style="color: red;">Home page</h1>
    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed porro nostrum est, dolore fugit officiis. In fuga est quidem voluptas.</p>

    <div class="paragraph">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, debitis consectetur sed illum praesentium doloremque magnam tempora repudiandae assumenda repellat deserunt nulla necessitatibus nisi, dolorum maxime asperiores molestias numquam consequatur? Doloremque soluta iusto minima consectetur dolor quibusdam beatae nobis aspernatur dolorem magnam ab eos cumque delectus, nesciunt facilis, amet voluptate eius modi quis! Sint quibusdam, laudantium expedita optio quisquam quos? Alias facilis soluta reprehenderit omnis quas sequi, doloremque, fuga eum ut obcaecati consectetur mollitia nisi dolorem atque reiciendis ratione consequuntur, accusantium cupiditate. Perspiciatis modi labore earum, deleniti doloribus fugit eius quae enim eum nobis ipsam neque excepturi. Ipsam voluptas culpa illum sed inventore, exercitationem dolor, totam quo eligendi veritatis architecto quas nostrum non mollitia libero obcaecati omnis ipsum consequuntur! Corporis aut temporibus repellat quasi nam ex. Sequi necessitatibus beatae cumque amet voluptatem praesentium sapiente dolores vitae architecto? Eum autem, unde explicabo libero, non velit voluptatibus nulla est quis consequatur quas veniam ipsa adipisci quidem fugit repudiandae dolore neque vel cupiditate accusantium tempora, earum ut culpa? Quisquam necessitatibus velit fugiat reiciendis nostrum, explicabo culpa illo sed, tempora repellat delectus temporibus animi eaque a exercitationem, recusandae sit nisi fugit voluptatibus impedit distinctio? Voluptas tempora numquam cumque ratione sunt eaque repellendus quos aperiam!
    </div>

    <script src="js/index.js"></script>
</body>
</html>